.editForm {
    display: flex;
    border: 5px solid rgb(181, 181, 181);
    border-radius: 60px;
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    row-gap: 20px;
}

.editForm input{
}

.userInfo .update {
    margin-top: 20px;
    align-self: end;
    background-color: rgb(53, 0, 60);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 10px;
}

.userInfo {
    height: fit-content;
    padding-left: 10%;
    padding-right: 10%;
    border-left: 1px solid rgb(181, 181, 181);
    width: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}